<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Skill</title>
</head>
<body>
    <h1>Add New Skill</h1>
    <form action="/skills" method="POST" autocomplete="off">
        <p>Skill</p>
        <input type="text" name="skill">
        <p>Months Practicing</p>
        <input type="text" name="months">
        <p>First Learned At: </p>
        <input type="text" name="learned">
        <br>
        <br>
        <button type="submit">Add Skill</button>
    </form>
</body>
</html>